<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Barber Shop</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/templatemo-barber-shop.css" rel="stylesheet" />
</head>
<body style="margin:0; padding:0; overflow-x:hidden;">
    @RenderBody()

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/click-scroll.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>
